<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">Credit Card Info</h5>
            <form>
              <div class="form-group mt-2">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" placeholder="1111 2222 3333 4444">
              </div>
              <div class="form-group mt-2">
                <label for="cardHolder">Name Surname</label>
                <input type="text" class="form-control" id="cardHolder" placeholder="John Doe">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mt-2">
                  <label for="expirationDate">Expire Date</label>
                  <input type="text" class="form-control" id="expirationDate" placeholder="MM/YY">
                </div>
                <div class="form-group col-md-6 mt-2">
                  <label for="cvv">CVV</label>
                  <input type="text" class="form-control" id="cvv" placeholder="CVV">
                </div>
              </div>
              <button routerLink="/" (click)="handleSubscription()" class="btn  mt-2">Gönder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  