button{
  background-color: #167d32;
  color: white;
}
button:hover{
  background-color: #005c1f;
  color: wheat;
}
.container{
  font-family: 'Quicksand', sans-serif;
}
.card-title{
    font-weight: bold;
  font-size: 26px;
}