<div class="row">
  <div class="col-8">
    <label>
      <input
        type="file"
        class="text-nowrap text-truncate"
        (change)="selectFile($event)"
      />
    </label>
  </div>

  <div class="col-4 justify-content-end d-flex pb-3">
    <button
      class="btn btn-success btn-sm"
      [disabled]="!selectedFiles"
      (click)="upload()"
    >
      Upload
    </button>
  </div>
</div>

<div *ngIf="currentFileUpload" class="progress mt-2">
  <div
    class="progress-bar"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%', 'background-color': '#167d32' }"
  >
    <span class="progress-text">{{ percentage }}%</span>
  </div>
</div>