  <div class="col-12">

    <ngx-dropzone class="drop-container" (change)="onSelect($event)">
      <ngx-dropzone-label>Drag & drop or Click it!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>

  <div class="col-12 justify-content-center d-flex pb-3">
    <button
      class="btn btn-success btn-md mt-3"
      [disabled]="!files"
      (click)="upload()"
    >
      Upload
    </button>
  </div>

<div *ngIf="currentFileUpload" class="progress mt-2">
  <div
    class="progress-bar"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%', 'background-color': '#167d32' }"
  >
    <span class="progress-text">{{ percentage }}%</span>
  </div>
</div>