  .drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    color: #8f8f8f;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
 ngx-dropzone-label {
    color: #8f8f8f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
    font-family: "Quicksand", sans-serif;
  }
button{
  width: 450px;
}