<div class="row">
  <div class="col-12">
    <label class="custom-file">
      <input type="file" class="custom-file-input" (change)="selectFile($event)" />
      <span class="custom-file-label text-nowrap text-truncate">Choose File</span>
      <span class="file-name"></span>
    </label>
  </div>

  <div class="col-12 justify-content-end d-flex pb-3">
    <button
      class="btn btn-success btn-sm"
      [disabled]="!selectedFiles"
      (click)="upload()"
    >
      Upload
    </button>
  </div>
</div>

<div *ngIf="currentFileUpload" class="progress mt-2">
  <div
    class="progress-bar"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%', 'background-color': '#167d32' }"
  >
    <span class="progress-text">{{ percentage }}%</span>
  </div>
</div>