/* Navbar stilini sıfırla */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: oldlace;
}

/* Navbar arkaplan rengi */
.navbar {
  background-color: #BDD99e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 5px;
  z-index: 999;
}

/* Logo stili */
.logo img {
  height: 60px;
}

/* Navbar bağlantıları */
.nav-links li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Kayıt Ol butonu */
.nav-links li .signin {
  background-color: #167d32;
  padding: 8px 12px;
  font-weight: bold;
  color: #fff; /* Yazı rengini beyaz olarak ayarla */
  transition: background-color 0.3s ease; /* Geçiş efektini buton rengi için de ayarla */
}

.nav-links li .signin:hover {
  background-color: #135b26;
  color: #fff; /* Hover durumunda yazı rengini beyaz olarak koru */
}

/* Bağlantıların üzerine gelindiğinde */
.nav-links li a:hover {
  color: #135b26;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown{
  color: #BDD99e;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  
}

.custom-dropdown button svg {
  fill: #200E32;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  
}

.custom-dropdown .dropdown-menu {
  position: absolute;
  min-width: 175px;
  z-index: 1;
  background-color: #BDD99e;
  padding: 8px 0;
  margin-top: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.custom-dropdown .dropdown-item {
  display: block;
  padding: 8px 16px;
  color: #200E32;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #001220;
  color: #fff;
}

.custom-dropdown .dropdown-menu.left {
  right: 0;
  left: auto;
}
@mixin divider($color: #000, $height: 1px) {
  height: $height;
  background-color: $color;
  opacity: 0.5;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

.dropdown-divider {
  @include divider($color: #000, $height: 1px);
}

.dropdown-text{
  cursor: default;
  color: #000000;
  opacity: 0.5;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: small;
  font-family: 'Quicksand', sans-serif;
}