/* Navbar stilini sıfırla */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: oldlace;
  border-radius: 10px;
}

/* Font yüklemesi */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Navbar arkaplan rengi */
.navbar {
  background-color: #BDD99e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 5px;
}

/* Logo stili */
.logo img {
  height: 40px;
}

/* Navbar bağlantıları */
.nav-links li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Kayıt Ol butonu */
.nav-links li .signup {
  background-color: #167d32;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff; /* Yazı rengini beyaz olarak ayarla */
  transition: background-color 0.3s ease; /* Geçiş efektini buton rengi için de ayarla */
}

.nav-links li .signup:hover {
  background-color: #135b26;
  color: #fff; /* Hover durumunda yazı rengini beyaz olarak koru */
}

/* Bağlantıların üzerine gelindiğinde */
.nav-links li a:hover {
  color: #135b26;
}
