<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ fileUpload.name | ellipsis : 20 }}</h5>
    <a target="_blank" href="{{ fileUpload.url }}" class="card-link">Download</a>
    <div>
      <button class="btn btn-primary btn-sm" (click)="openModal(content)">Send via Mail</button>

    </div>
    <div>
      <button class="btn btn-danger btn-sm" (click)="deleteFileUpload(fileUpload)">Delete</button>

    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal Başlık</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="sendEmail()">
      <input
        type="email"
        [(ngModel)]="to"
        name="to"
        placeholder="To"
        required
      />
      <input
        type="text"
        [(ngModel)]="subject"
        name="subject"
        placeholder="Subject"
        required
      />
      <button
      type="submit"
      class="btn btn-success btn-sm"
      (click)="modal.close('Close click')"
    >
      Send Mail
    </button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Kapat
    </button>
  </div>
</ng-template>
