.copySVG{
    cursor: pointer;
    padding-left: 5px;
}

$lightGreen: #BDD99e;
$mainGreen: #167d32;

.close-container{
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .leftright{
    height: 4px;
    width: 24px;
    position: absolute;
    background-color: $lightGreen;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 24px;
    position: absolute;
    background-color: $lightGreen;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  .close{
    position: absolute;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: $mainGreen;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: $mainGreen;
  }
  .close-container:hover label{
    opacity: 1;
  }
  .btn{
    font-family: 'Quicksand', sans-serif;
  }
  .fileName{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #6c757d;
  }