<a class="fileName" target="_blank" href="{{ fileUpload.url }}">{{ fileUpload.name | ellipsis : 20 }}</a>
<i class="copySVG" (click)="copyClickBoard(fileUpload.url)">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-copy"
  >
    <rect x="9" y="9" width="13" height="13" rx="2" ry="2" />
    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1" />
  </svg>
</i>
<div class="justify-content-end d-flex">
  <button class="btn btn-sm" style="margin-right: 5px; background-color: #BDD99e;" (click)="openModal(content)">
    Send via Mail
  </button>
  <button
    (click)="deleteFileUpload(fileUpload)"
    class="btn btn-danger btn-sm"
  >
    Delete
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Send via Mail</h4>
    <div (click)="closeModal()" class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </div>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="sendEmail()">
      <div class="form-group">
        <label for="to">To:</label>
        <input type="email" [(ngModel)]="to" name="to" id="to" class="form-control" placeholder="To" required>
      </div>
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" [(ngModel)]="subject" name="subject" id="subject" class="form-control" placeholder="Subject" required>
      </div>
      <div class="text-right mt-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-success" (click)="modal.close('Close click')">Send Mail</button>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>