.card {
  margin-bottom: 10px;
  text-align: center;
  background-color: wheat;
  width: 450px;
  height: 350px;
  padding: 15px;
  margin: 10px;
}

.divider {
  border-top: 1px solid #000;
}

.card-text {
  text-align: left;
  margin-top: 10px;
}
.card-headText{
  font-weight: 700;
}
.buttons {
  background-color: #BDD99e;
  border-radius: 10px;
  width: 200px;
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.content {
  text-align: left;
  justify-content: center;
  color: #f9f9f9;
  font-family: "Quicksand", sans-serif;
  z-index: 2;
  align-items: center;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
.topText{
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 40px;
}