
<div class="container">
  <div class="login-container">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="form-group">
          <h1>Email</h1>
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="form-group">
          <h1>Password</h1>
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <div class="form-group">
          I wan't pro subscription
          <label class="custom-checkbox">
            <input type="checkbox" [checked]="wantsPro" (change)="toggleCheckbox()" />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group">
          <button *ngIf="!wantsPro"
            type="submit"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          >
            Sign Up
          </button>
          <button *ngIf="wantsPro"
            type="submit"
            routerLink="/pro-sub"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          >
            Sign Up
          </button>
        </div>
        <!-- Continue with Google -->
        <div class="form-group">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <span class="redirect" routerLink="/signin">Log In</span></span
        >
      </div>
    </div>
  </div>
</div>
